<mat-card>
  <mat-label>Profile</mat-label>
  <span class="type">Role</span
  ><span class="data">{{ getRoleDisplayName(user.role) }}</span>
  <hr />
  <span class="type">First name</span
  ><span class="data">{{ user.firstName }}</span>
  <hr />
  <span class="type">Last name</span
  ><span class="data"> {{ user.lastName }}</span>
  <hr />
  <span class="type">Email</span><span class="data"> {{ user.email }}</span>
  <hr />
  <span class="type">Pesel</span><span class="data"> {{ user.pesel }}</span>
  <hr />
  <span class="type">Phone number</span
  ><span class="data"> {{ user.phoneNumber }}</span>
  <hr />
  <span class="type">Account status</span
  ><span class="data">
    <button
      class="button-status"
      [ngClass]="{ active: user.active, inactive: !user.active }"
    >
      {{ getAccountStatus(user.active) }}
    </button>
  </span>
  <hr />
  <button (click)="changeStatus()">Change account status</button>
  <button (click)="onCancel()">Reset password</button>
  <button (click)="onCancel()">Back</button>
</mat-card>
