<div fxLayoutAlign="center center" class="main-div">
  <mat-card>
    <mat-toolbar fxLayoutAlign="center center" style="margin-bottom: 1vh"
      ><div class="logo">D</div></mat-toolbar
    >
    <mat-toolbar fxLayoutAlign="center center">Register here</mat-toolbar>

    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="login-form"
      [formGroup]="formGroup"
      (ngSubmit)="registerProcess()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select
          placeholder="Select your role"
          formControlName="role"
          [(ngModel)]="model.role"
        >
          <mat-option value="ROLE_DOCTOR">Doctor</mat-option>
          <mat-option value="ROLE_PATIENT">Patient</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter a email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter a password"
          formControlName="password"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="model.role === 'ROLE_DOCTOR'">
        <mat-label>PWZ Number</mat-label>
        <input
          matInput
          placeholder="Enter your PWZ number"
          formControlName="pwzNumber"
          [(ngModel)]="model.pwzNumber"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        *ngIf="model.role === 'ROLE_PATIENT'"
      >
        <mat-label>Diabetes Type</mat-label>
        <mat-select
          placeholder="Select your diabetes type"
          formControlName="diabetesType"
          [(ngModel)]="model.diabetesType"
        >
          <mat-option value="TYPE_1">Type 1</mat-option>
          <mat-option value="TYPE_2">Type 2</mat-option>
          <mat-option value="GESTATIONAL">Gestational</mat-option>
          <mat-option value="OTHER">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="Enter your first name"
          formControlName="firstName"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Enter your last name"
          formControlName="lastName"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>PESEL</mat-label>
        <input
          matInput
          placeholder="Enter your PESEL"
          formControlName="pesel"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          placeholder="Enter your phone number"
          formControlName="phoneNumber"
        />
      </mat-form-field>

      <button mat-raised-button type="submit" class="transparent-button">
        Register
      </button>
    </form>
  </mat-card>
</div>
