<div class="main-div">
  <app-toolbar></app-toolbar>
  <mat-card
    ><h2 style="text-align: center">My patients</h2>
    <mat-form-field appearance="outline" style="width: 20%; margin-left: auto">
      <mat-label>Find patient..</mat-label>
      <input
        matInput
        (keyup)="filterChange($event)"
        placeholder="Enter the text"
      />
    </mat-form-field>

    <table matSort mat-table [dataSource]="dataSourcePatients">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.firstName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pesel">
        <th mat-header-cell *matHeaderCellDef>Pesel</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pesel }}
        </td>
      </ng-container>
      <ng-container matColumnDef="diabetesType">
        <th mat-header-cell *matHeaderCellDef>Diabetes type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.diabetesType }}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">
          {{ element.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phoneNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-buttons">
          <button mat-raised-button color="primary">Check measurements</button>
          <button
            mat-raised-button
            color="warn"
            (click)="unfollowPatient(element)"
          >
            Unfollow patient
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="patientsDisplayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: patientsDisplayedColumns; let odd = odd"
        [ngClass]="{ gray: odd }"
      ></tr>
    </table>
    <mat-card-footer>
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons=""
      ></mat-paginator>
    </mat-card-footer>

    <button
      mat-raised-button
      style="
        background-color: #15a345;
        color: white;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 20%;
        margin-left: auto;
      "
      (click)="openAddPatientDialog()"
    >
      Add Patient
    </button>
  </mat-card>
</div>
