<div fxLayoutAlign="center center" class="main-div">
  <mat-card>
    <img src="././assets/icons/error-404.png" alt="Icon 1" />
    <mat-toolbar fxLayoutAlign="center center">Page not found</mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="center center"
      >We're sorry, the page you requested could not be found.</mat-toolbar-row
    >
    <button
      mat-raised-button
      [routerLink]="['/home']"
      class="transparent-button"
    >
      Go to homepage
    </button>
  </mat-card>
</div>
