<div fxLayoutAlign="center center" class="main-div">
  <mat-card>
    <!-- <mat-toolbar fxLayoutAlign="center center" style="margin-bottom: 1vh"
      ><div class="logo">D</div></mat-toolbar
    > -->
    <div class="logo">D</div>
    <mat-toolbar fxLayoutAlign="center center">Login to continue</mat-toolbar>

    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="login-form"
      [formGroup]="formGroup"
      (ngSubmit)="loginProcess()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter a email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter a password"
          formControlName="password"
        />
      </mat-form-field>
      <button mat-raised-button type="submit" class="transparent-button">
        Login
      </button>
    </form>

    <a fxLayoutAlign="center" [routerLink]="['/register']">
      Don't have an account? Sign up</a
    >
    <div *ngIf="loginError" fxLayoutAlign="center center" class="error-message">
      Invalid email or password. Please try again.
    </div>
  </mat-card>
</div>
