.main-div {
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: linear-gradient(to right, #005aa7, #fffde4);
  /* background-image: red; */
  min-height: 100%;
  min-width: 100%;
}

.main-div mat-card {
  padding-top: 40px;
  min-height: 75vh;
  min-width: 25vw;
  border-radius: 10px 10px 10px 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.main-div mat-toolbar {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 28px;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  color: #000000;
}

.login-form {
  padding: 2vw;
}

.transparent-button {
  background-color: #1976d2 !important;
  color: #ffffff !important;
  font-size: large;
}
.transparent-button:hover {
  background-color: #177fda !important;
  color: #ffffff !important;
}

.logo {
  margin: 0 auto;
  font-family: "Cinzel", sans-serif;
  width: 85px;
  height: 85px;
  background-color: #1976d2;
  color: #fffde4;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.logo:hover {
  background-color: #004080; /* kolor tła po najechaniu myszą */
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #858484;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.error-message {
  padding-top: 10px;
  color: red;
}

@media only screen and (max-width: 430px) {
  .main-div {
    background-color: #005aa7 !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: scroll;
    padding: 0;
  }
  .main-div mat-card {
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    border-radius: 0;
    padding-top: 60px;
  }

  .main-div mat-toolbar {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  .main-div mat-toolbar-row {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }

  .logo {
    font-size: 10vw;
    font-weight: 500;
  }
}
