<div fxLayoutAlign class="main-div">
  <mat-toolbar>
    <span><mat-icon>vaccines</mat-icon> DiabeticSupportSystem</span>
    <div class="spacer"></div>

    <!-- Menu na większych ekranach -->
    <div fxHide fxShow.gt-xs>
      <a mat-button [routerLink]="['/home']">Home</a>
      <a
        mat-button
        *ngIf="userRole === 'ROLE_DOCTOR'"
        [routerLink]="['/patients']"
        >Patients</a
      >
      <a
        mat-button
        *ngIf="userRole === 'ROLE_PATIENT'"
        [routerLink]="['/mesurments']"
        >Measurments</a
      >
      <a mat-button [routerLink]="['/messages']">Messages</a>
      <a
        mat-button
        *ngIf="userRole === 'ROLE_ADMIN'"
        [routerLink]="['/admin-panel']"
        >Admin Panel</a
      >
      <a mat-button [routerLink]="['/my-profile']">My profile</a>
      <a mat-raised-button color="accent" [routerLink]="['/logout']">Logout</a>
    </div>

    <!-- Hamburger na małych ekranach -->
    <div fxHide fxShow.xs>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/home']" style="width: 150px">Home</a>
        <a
          mat-menu-item
          *ngIf="userRole === 'ROLE_DOCTOR'"
          [routerLink]="['/patients']"
          >Patients</a
        >
        <a
          mat-menu-item
          *ngIf="userRole === 'ROLE_PATIENT'"
          [routerLink]="['/mesurments']"
          >Measurments</a
        >
        <a mat-menu-item [routerLink]="['/messages']">Messages</a>
        <a
          mat-menu-item
          *ngIf="userRole === 'ROLE_ADMIN'"
          [routerLink]="['/admin-panel']"
          >Admin Panel</a
        >
        <a mat-menu-item [routerLink]="['/my-profile']">My profile</a>
        <a mat-menu-item [routerLink]="['/logout']">Logout</a>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
